body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 20px;
}

input, select, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    font-family: arial, sans-serif;
    display: flex;
    align-items: center;
  }
  
  td, th {

    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  footer {
    background-color: #4CAF50;
    padding: 60px;
  }

  .image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 222px;
    height: 333px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 1; 
}
